NFL CSV's
---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
from datetime import datetime as dt
import cx_Oracle
import numpy as np

### Read Files

In [3]:
df_fan = pd.read_csv('FanDuel-NFL-2023 ET-10 ET-26 ET-95180-players-list.csv')
df_fan.drop(columns=['Id',
                     'Tier',
                     'Unnamed: 14',
                     'Unnamed: 15'], inplace=True)
df_fan.insert(loc=0,column='week', value=8)
df_fan.insert(loc=0, column='nfl_players_list_id', value='')
df_fan.head()

,nfl_players_list_id,week,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Roster Position
0,,8,QB,Josh,Josh Allen,Allen,23.348572,7.0,17500,TB@BUF,BUF,TB,NaN,NaN,MVP - 1.5X Points/AnyFLEX
1,,8,WR,Stefon,Stefon Diggs,Diggs,18.471429,7.0,15000,TB@BUF,BUF,TB,NaN,NaN,MVP - 1.5X Points/AnyFLEX
2,,8,WR,Mike,Mike Evans,Evans,14.300001,6.0,14000,TB@BUF,TB,BUF,NaN,NaN,MVP - 1.5X Points/AnyFLEX
3,,8,QB,Baker,Baker Mayfield,Mayfield,15.736666,6.0,13500,TB@BUF,TB,BUF,Q,Knee,MVP - 1.5X Points/AnyFLEX
4,,8,RB,James,James Cook,Cook,11.571429,7.0,12500,TB@BUF,BUF,TB,NaN,NaN,MVP - 1.5X Points/AnyFLEX

In [4]:
df_pts = pd.read_csv(Path('..\FantasyPros_Fantasy_Football_Points_HALF.csv')).replace('-', None).replace('BYE', None)
df_pts.rename(columns={'#':'Rank', 'Player':'Nickname', 'TTL':'PTS_TTL', 'AVG':'PTS_AVG'}, inplace=True)
df_pts.head()

,Rank,Nickname,Pos,Team,1,2,3,4,5,6,...,11,12,13,14,15,16,17,18,PTS_AVG,PTS_TTL
0,1.0,Josh Allen,QB,BUF,12,23.7,22.3,36.5,28.8,14.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.3,163.4
1,2.0,Jalen Hurts,QB,PHI,12.5,26.2,21.9,24.2,28.3,22.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9,160.2
2,3.0,Tyreek Hill,WR,MIA,39,12.5,26.2,8.7,28.1,25.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9,160.1
3,4.0,Christian McCaffrey,RB,SF,24.4,21,20.4,45.2,12.8,12.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.5,157.6
4,5.0,Patrick Mahomes II,QB,KC,20.5,22.2,25.7,15.2,19.2,18.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.3,156.1

In [7]:
df_season_pts = pd.merge(df_pts, df_fan, how='inner')
df_season_pts.head()

,Rank,Nickname,Pos,Team,1,2,3,4,5,6,...,First Name,Last Name,FPPG,Played,Salary,Game,Opponent,Injury Indicator,Injury Details,Roster Position
0,1.0,Josh Allen,QB,BUF,12,23.7,22.3,36.5,28.8,14.9,...,Josh,Allen,23.348572,7.0,17500,TB@BUF,TB,NaN,NaN,MVP - 1.5X Points/AnyFLEX
1,11.0,Stefon Diggs,WR,BUF,21.2,10.1,15.1,33,20.1,15,...,Stefon,Diggs,18.471429,7.0,15000,TB@BUF,TB,NaN,NaN,MVP - 1.5X Points/AnyFLEX
2,36.0,Baker Mayfield,QB,TB,16,18.4,11,23.9,None,7.8,...,Baker,Mayfield,15.736666,6.0,13500,TB@BUF,BUF,Q,Knee,MVP - 1.5X Points/AnyFLEX
3,47.0,Mike Evans,WR,TB,15.6,26.1,14.5,5.5,None,6.9,...,Mike,Evans,14.300001,6.0,14000,TB@BUF,BUF,NaN,NaN,MVP - 1.5X Points/AnyFLEX
4,57.0,James Cook,RB,BUF,8.3,17.9,12.2,14.2,3.6,7.1,...,James,Cook,11.571429,7.0,12500,TB@BUF,TB,NaN,NaN,MVP - 1.5X Points/AnyFLEX

In [3]:
df_dst = pd.read_csv('FantasyPros_2023_Week_8_DST_Rankings.csv')
df_dst.head()

,RK,PLAYER NAME,TEAM,OPP,MATCHUP,START/SIT,PROJ. FPTS,AVG. POINTS,% GAMES
0,1,Philadelphia Eagles,PHI,at WAS,5 out of 5 stars,A+,8.6,NaN,NaN
1,2,Buffalo Bills,BUF,vs. TB,4 out of 5 stars,A-,8.0,NaN,NaN
2,3,Baltimore Ravens,BAL,at ARI,3 out of 5 stars,A,7.8,NaN,NaN
3,4,New York Jets,NYJ,at NYG,5 out of 5 stars,B+,7.5,NaN,NaN
4,5,Kansas City Chiefs,KC,at DEN,4 out of 5 stars,B+,7.3,NaN,NaN

In [10]:
df_qb = pd.read_csv('FantasyPros_2023_Week_8_QB_Rankings.csv')
idx = df_qb.index[df_qb['PLAYER NAME'] == 'Patrick Mahomes II']
df_qb.replace('Patrick Mahomes II','Patrick Mahomes', inplace=True) 
df_qb.head()

,RK,PLAYER NAME,TEAM,OPP,MATCHUP,START/SIT,PROJ. FPTS,AVG. POINTS,% GAMES,OPPORTUNITY,EFFICIENCY
0,1,Jalen Hurts,PHI,at WAS,4 out of 5 stars,A+,23.8,NaN,NaN,NaN,NaN
1,2,Patrick Mahomes,KC,at DEN,5 out of 5 stars,A+,23.3,NaN,NaN,NaN,NaN
2,3,Josh Allen,BUF,vs. TB,2 out of 5 stars,A,22.1,NaN,NaN,NaN,NaN
3,4,Lamar Jackson,BAL,at ARI,5 out of 5 stars,A,21.2,NaN,NaN,NaN,NaN
4,5,Justin Herbert,LAC,vs. CHI,5 out of 5 stars,A,20.1,NaN,NaN,NaN,NaN

In [11]:
df_rb = pd.read_csv('FantasyPros_2023_Week_8_RB_Rankings.csv')
df_rb.head()

,RK,PLAYER NAME,TEAM,OPP,MATCHUP,START/SIT,PROJ. FPTS,AVG. POINTS,% GAMES,OPPORTUNITY,EFFICIENCY
0,1,Christian McCaffrey,SF,vs. CIN,4 out of 5 stars,A+,20.8,NaN,NaN,NaN,NaN
1,2,Travis Etienne Jr.,JAC,at PIT,4 out of 5 stars,A+,17.0,NaN,NaN,NaN,NaN
2,3,Austin Ekeler,LAC,vs. CHI,4 out of 5 stars,A+,15.8,NaN,NaN,NaN,NaN
3,4,Tony Pollard,DAL,vs. LAR,3 out of 5 stars,A,15.7,NaN,NaN,NaN,NaN
4,5,Alvin Kamara,NO,at IND,3 out of 5 stars,A,15.3,NaN,NaN,NaN,NaN

In [12]:
df_te = pd.read_csv('FantasyPros_2023_Week_8_TE_Rankings.csv')
df_te.head()

,RK,PLAYER NAME,TEAM,OPP,MATCHUP,START/SIT,PROJ. FPTS,AVG. POINTS,% GAMES,OPPORTUNITY,EFFICIENCY
0,1,Travis Kelce,KC,at DEN,3 out of 5 stars,A+,15.7,NaN,NaN,NaN,NaN
1,2,Mark Andrews,BAL,at ARI,3 out of 5 stars,A,10.6,NaN,NaN,NaN,NaN
2,3,T.J. Hockenson,MIN,at GB,3 out of 5 stars,A,10.6,NaN,NaN,NaN,NaN
3,4,Sam LaPorta,DET,vs. LV,3 out of 5 stars,A-,9.2,NaN,NaN,NaN,NaN
4,5,George Kittle,SF,vs. CIN,4 out of 5 stars,B+,8.9,NaN,NaN,NaN,NaN

In [13]:
df_wr = pd.read_csv('FantasyPros_2023_Week_8_WR_Rankings.csv')
df_wr.head()

,RK,PLAYER NAME,TEAM,OPP,MATCHUP,START/SIT,PROJ. FPTS,AVG. POINTS,% GAMES,OPPORTUNITY,EFFICIENCY
0,1,Tyreek Hill,MIA,vs. NE,3 out of 5 stars,A+,20.5,NaN,NaN,NaN,NaN
1,2,Stefon Diggs,BUF,vs. TB,3 out of 5 stars,A+,17.4,NaN,NaN,NaN,NaN
2,3,A.J. Brown,PHI,at WAS,3 out of 5 stars,A+,15.8,NaN,NaN,NaN,NaN
3,4,Cooper Kupp,LAR,at DAL,3 out of 5 stars,A+,15.3,NaN,NaN,NaN,NaN
4,5,Keenan Allen,LAC,vs. CHI,3 out of 5 stars,A+,15.2,NaN,NaN,NaN,NaN

### Concat Files

In [14]:
df_concat = pd.concat([df_qb,df_rb, df_wr, df_te, df_dst])
df_concat.rename(columns={'PLAYER NAME':'Nickname'}, inplace=True)
df_concat.drop(columns=['TEAM'
                       ,'OPP'
                       ,'AVG. POINTS '
                       ,'% GAMES '
                       ,'OPPORTUNITY '
                       ,'EFFICIENCY '
                       ],inplace=True)

#df_concat['MATCHUP '] = [r[0:1] for r in df_concat['MATCHUP ']]
df_concat.head()

   RK         Nickname          MATCHUP  START/SIT  PROJ. FPTS
0   1      Jalen Hurts  4 out of 5 stars        A+        23.8
1   2  Patrick Mahomes  5 out of 5 stars        A+        23.3
2   3       Josh Allen  2 out of 5 stars         A        22.1
3   4    Lamar Jackson  5 out of 5 stars         A        21.2
4   5   Justin Herbert  5 out of 5 stars         A        20.1

### Merge rankings

In [15]:
df_merge = pd.merge(df_fan, df_concat, how='inner').replace(np.nan, None)
df_merge.head()

,nfl_players_list_id,week,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Roster Position,RK,MATCHUP,START/SIT,PROJ. FPTS
0,,8,RB,Christian,Christian McCaffrey,McCaffrey,22.514287,7.0,10200,CIN@SF,SF,CIN,None,None,RB/FLEX,1,4 out of 5 stars,A+,20.8
1,,8,WR,Tyreek,Tyreek Hill,Hill,22.871429,7.0,9500,NE@MIA,MIA,NE,None,None,WR/FLEX,1,3 out of 5 stars,A+,20.5
2,,8,QB,Jalen,Jalen Hurts,Hurts,22.891429,7.0,9200,PHI@WAS,PHI,WAS,Q,Knee,QB,1,4 out of 5 stars,A+,23.8
3,,8,WR,Cooper,Cooper Kupp,Kupp,15.333333,3.0,9100,LAR@DAL,LAR,DAL,None,None,WR/FLEX,4,3 out of 5 stars,A+,15.3
4,,8,RB,Raheem,Raheem Mostert,Mostert,19.428571,7.0,9000,NE@MIA,MIA,NE,None,None,RB/FLEX,11,3 out of 5 stars,A-,14.3

### Merge points

In [18]:
df_pts = pd.read_csv('FantasyPros_Fantasy_Football_Points_HALF.csv')
df_pts.replace('Patrick Mahomes II', 'Patrick Mahomes', inplace=True)
df_pts.rename(columns={'#':'Rank', 'Player':'Nickname', 'TTL':'PTS_TTL', 'AVG':'PTS_AVG'}, inplace=True)
df_pts.drop(columns=['Pos',
                    'Team',
                    '1',
                    '2',
                    '3',
                    '4',
                    '5',
                    '6',
                    '7',
                    '8',
                    '9',
                    '10',
                    '11',
                    '12',
                    '13',
                    '14',
                    '15',
                    '16',
                    '17',
                    '18'],
                    inplace=True)
df_pts.head()

   Rank             Nickname  PTS_AVG  PTS_TTL
0   1.0           Josh Allen     23.3    163.4
1   2.0          Jalen Hurts     22.9    160.2
2   3.0          Tyreek Hill     22.9    160.1
3   4.0  Christian McCaffrey     22.5    157.6
4   5.0      Patrick Mahomes     22.3    156.1

In [19]:
df_merge = pd.merge(df_merge, df_pts, how='inner') #.replace(np.nan, None)
df_merge.head()

,nfl_players_list_id,week,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,...,Injury Indicator,Injury Details,Roster Position,RK,MATCHUP,START/SIT,PROJ. FPTS,Rank,PTS_AVG,PTS_TTL
0,,8,RB,Christian,Christian McCaffrey,McCaffrey,22.514287,7.0,10200,CIN@SF,...,None,None,RB/FLEX,1,4 out of 5 stars,A+,20.8,4.0,22.5,157.6
1,,8,WR,Tyreek,Tyreek Hill,Hill,22.871429,7.0,9500,NE@MIA,...,None,None,WR/FLEX,1,3 out of 5 stars,A+,20.5,3.0,22.9,160.1
2,,8,QB,Jalen,Jalen Hurts,Hurts,22.891429,7.0,9200,PHI@WAS,...,Q,Knee,QB,1,4 out of 5 stars,A+,23.8,2.0,22.9,160.2
3,,8,WR,Cooper,Cooper Kupp,Kupp,15.333333,3.0,9100,LAR@DAL,...,None,None,WR/FLEX,4,3 out of 5 stars,A+,15.3,170.0,15.3,46.0
4,,8,RB,Raheem,Raheem Mostert,Mostert,19.428571,7.0,9000,NE@MIA,...,None,None,RB/FLEX,11,3 out of 5 stars,A-,14.3,8.0,19.4,136.0

### Merge targets

In [20]:
df_tgt = pd.read_csv('FantasyPros_Fantasy_Football_2023_Target_Leaders.csv')
df_tgt.rename(columns={'Player':'Nickname', 'TTL':'TGT_TTL', 'AVG':'TGT_AVG'}, inplace=True)
df_tgt.drop(columns=['Pos',
                    'Team',
                    '1',
                    '2',
                    '3',
                    '4',
                    '5',
                    '6',
                    '7',
                    '8',
                    '9',
                    '10',
                    '11',
                    '12',
                    '13',
                    '14',
                    '15',
                    '16',
                    '17',
                    '18'],
                    inplace=True)
df_tgt = df_tgt[['Nickname', 'TGT_AVG', 'TGT_TTL']]
df_tgt.head()

        Nickname  TGT_AVG  TGT_TTL
0     Puka Nacua     11.7     82.0
1   Stefon Diggs     11.1     78.0
2     A.J. Brown     10.7     75.0
3    Tyreek Hill     10.6     74.0
4  Ja'Marr Chase     12.2     73.0

In [21]:
df_merge = pd.merge(df_merge, df_tgt, how='left')
df_merge['TGT_AVG'],df_merge['TGT_TTL'] = df_merge['TGT_AVG'].fillna(0), df_merge['TGT_TTL'].replace(np.nan, None)
df_merge.head()

,nfl_players_list_id,week,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,...,Roster Position,RK,MATCHUP,START/SIT,PROJ. FPTS,Rank,PTS_AVG,PTS_TTL,TGT_AVG,TGT_TTL
0,,8,RB,Christian,Christian McCaffrey,McCaffrey,22.514287,7.0,10200,CIN@SF,...,RB/FLEX,1,4 out of 5 stars,A+,20.8,4.0,22.5,157.6,4.3,30.0
1,,8,WR,Tyreek,Tyreek Hill,Hill,22.871429,7.0,9500,NE@MIA,...,WR/FLEX,1,3 out of 5 stars,A+,20.5,3.0,22.9,160.1,10.6,74.0
2,,8,QB,Jalen,Jalen Hurts,Hurts,22.891429,7.0,9200,PHI@WAS,...,QB,1,4 out of 5 stars,A+,23.8,2.0,22.9,160.2,0.0,None
3,,8,WR,Cooper,Cooper Kupp,Kupp,15.333333,3.0,9100,LAR@DAL,...,WR/FLEX,4,3 out of 5 stars,A+,15.3,170.0,15.3,46.0,9.3,28.0
4,,8,RB,Raheem,Raheem Mostert,Mostert,19.428571,7.0,9000,NE@MIA,...,RB/FLEX,11,3 out of 5 stars,A-,14.3,8.0,19.4,136.0,3.3,23.0

### Add DPP column

In [22]:
df_merge['dpp'] = [round(df_merge['Salary'][r]/df_merge['PTS_AVG'][r]) if df_merge['PTS_AVG'][r]>0 else 0 for r in df_merge.index]
df_merge.head()

,nfl_players_list_id,week,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,...,RK,MATCHUP,START/SIT,PROJ. FPTS,Rank,PTS_AVG,PTS_TTL,TGT_AVG,TGT_TTL,dpp
0,,8,RB,Christian,Christian McCaffrey,McCaffrey,22.514287,7.0,10200,CIN@SF,...,1,4 out of 5 stars,A+,20.8,4.0,22.5,157.6,4.3,30.0,453
1,,8,WR,Tyreek,Tyreek Hill,Hill,22.871429,7.0,9500,NE@MIA,...,1,3 out of 5 stars,A+,20.5,3.0,22.9,160.1,10.6,74.0,415
2,,8,QB,Jalen,Jalen Hurts,Hurts,22.891429,7.0,9200,PHI@WAS,...,1,4 out of 5 stars,A+,23.8,2.0,22.9,160.2,0.0,None,402
3,,8,WR,Cooper,Cooper Kupp,Kupp,15.333333,3.0,9100,LAR@DAL,...,4,3 out of 5 stars,A+,15.3,170.0,15.3,46.0,9.3,28.0,595
4,,8,RB,Raheem,Raheem Mostert,Mostert,19.428571,7.0,9000,NE@MIA,...,11,3 out of 5 stars,A-,14.3,8.0,19.4,136.0,3.3,23.0,464

### Insert DataFrame into Oracle

In [23]:
df_merge.values
data_insert = [tuple(x) for x in df_merge.values]
data_insert[0]

('',
 8,
 'RB',
 'Christian',
 'Christian McCaffrey',
 'McCaffrey',
 22.51428658621652,
 7.0,
 10200,
 'CIN@SF',
 'SF',
 'CIN',
 None,
 None,
 'RB/FLEX',
 1,
 '4 out of 5 stars',
 'A+',
 20.8,
 4.0,
 22.5,
 157.6,
 4.3,
 30.0,
 453)

In [24]:
sql = """INSERT INTO nfl_players_list
         VALUES(:1
               ,:2
               ,:3
               ,:4
               ,:5
               ,:6
               ,:7
               ,:8
               ,:9
               ,:10
               ,:11
               ,:12
               ,:13
               ,:14
               ,:15
               ,:16
               ,:17
               ,:18
               ,:19
               ,:20
               ,:21
               ,:22
               ,:23
               ,:24
               ,:25)"""

try:
    conn = cx_Oracle.connect('MMEIN/myexpress23@localhost:1521/XE')
    cur = conn.cursor()
    cur.execute('DELETE FROM nfl_players_list')
    cur.executemany(sql, data_insert)

except cx_Oracle.DatabaseError as e:
    error_obj, = e.args
    print('error',error_obj.message)
    print('error',error_obj.code)
    
conn.commit()

In [25]:
cur.close()
conn.close()

### Fantasy Points

In [38]:
df_pts = pd.read_csv('FantasyPros_Fantasy_Football_Points_HALF.csv').replace('-', None).replace('BYE', None)
df_pts.rename(columns={'#':'Rank', 'Player':'Nickname', 'TTL':'PTS_TTL', 'AVG':'PTS_AVG'}, inplace=True)
df_pts.head()

,Rank,Nickname,Pos,Team,1,2,3,4,5,6,...,11,12,13,14,15,16,17,18,PTS_AVG,PTS_TTL
0,1.0,Josh Allen,QB,BUF,12,23.7,22.3,36.5,28.8,14.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.3,163.4
1,2.0,Jalen Hurts,QB,PHI,12.5,26.2,21.9,24.2,28.3,22.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9,160.2
2,3.0,Tyreek Hill,WR,MIA,39,12.5,26.2,8.7,28.1,25.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9,160.1
3,4.0,Christian McCaffrey,RB,SF,24.4,21,20.4,45.2,12.8,12.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.5,157.6
4,5.0,Patrick Mahomes II,QB,KC,20.5,22.2,25.7,15.2,19.2,18.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.3,156.1

In [39]:
df_players = pd.read_excel('full-players-list.xlsx')
df_players.rename(columns={'NICKNAME':'Nickname'}, inplace=True)
df_players.head()

,WEEK,POSITION,FIRST_NAME,Nickname,LAST_NAME,FPPG,PLAYED,SALARY,GAME,TEAM,...,RK,MATCHUP,START_SIT,PROJ_FPTS,RANK,PTS_AVG,PTS_TTL,TGT_AVG,TGT_TTL,DPP
0,8,D,Philadelphia,Philadelphia Eagles,Eagles,8.43,7,5000,PHI@WAS,PHI,...,1,5 out of 5 stars,A+,8.6,125,8.3,58.0,0.0,NaN,602
1,8,D,Dallas,Dallas Cowboys,Cowboys,13.83,6,4900,LAR@DAL,DAL,...,7,1 out of 5 stars,B,7.2,52,13.8,83.0,0.0,NaN,355
2,8,D,Baltimore,Baltimore Ravens,Ravens,10.00,7,4800,BAL@ARI,BAL,...,3,3 out of 5 stars,A,7.8,82,9.9,69.0,0.0,NaN,485
3,8,D,Miami,Miami Dolphins,Dolphins,6.43,7,4600,NE@MIA,MIA,...,12,5 out of 5 stars,B-,7.1,176,6.4,45.0,0.0,NaN,719
4,8,D,Kansas City,Kansas City Chiefs,Chiefs,8.57,7,4500,KC@DEN,KC,...,5,4 out of 5 stars,B+,7.3,119,8.6,60.0,0.0,NaN,523

In [40]:
df_season_pts = pd.merge(df_pts, df_players['Nickname'], how='inner')
df_season_pts.head()

,Rank,Nickname,Pos,Team,1,2,3,4,5,6,...,11,12,13,14,15,16,17,18,PTS_AVG,PTS_TTL
0,2.0,Jalen Hurts,QB,PHI,12.5,26.2,21.9,24.2,28.3,22.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9,160.2
1,3.0,Tyreek Hill,WR,MIA,39,12.5,26.2,8.7,28.1,25.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9,160.1
2,4.0,Christian McCaffrey,RB,SF,24.4,21,20.4,45.2,12.8,12.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.5,157.6
3,6.0,Lamar Jackson,QB,BAL,7.6,22.9,28.2,28.1,10.9,18.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.4,149.7
4,7.0,Tua Tagovailoa,QB,MIA,28.1,13.3,28.4,15,18.9,22.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.6,137.5

In [41]:
df_season_pts.to_csv('season_pts.csv', index=False)